/*ESTILO DEL CUERPO DEL DOCUMENTO EN GENERAL*/
body {
	font-family: Arial;
	background-color: #ffffff;
}

footer {
	text-align: center;
	padding: 50px;
}

/*ESTILO DE LA BARRA DE MENÚ*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	overflow: hidden;
	background-color: #334;
	position: sticky;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	background-color: #334;
	text-decoration: none;
}
li a:hover {
	background-color: #336;
}
li a:active {
	background-color: #334;
}

/*ESTILO DEL FORMULARIO*/
h2 {
	color: #fff;
	font-size: 40px;
}

h3 {
	color: #000;
	font-size: 30px;
}

h4 {
	color: #fff;
	font-size: 25px;
}

form {
	width: 60%;
	margin: auto;
	text-align: center;
	background-color: #334;
	border-radius: 10px;
	padding: 10px;
}

form input, select {
	width: 60%;
	padding: 15px 5px;
	text-align: left;
	margin: 8px 0;
	box-sizing: border-box;
	gap: 20px;
}

form label {
	display: inline-block;
	width: 20%;
	color: #ffffff;
}

/*ESTILO DEL BOTÓN DE INICIO DE SESIÓN*/
button {
	background-color: #ffffff;
	border: none;
	color: black;
	padding: 20px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	transition-duration: 0.4s;
}
button:hover {
	background-color: #333;
	color: white;
	border: 2px solid #ffffff;
}

/*ESTILO DE LAS TABLA DE INFORMACIÓN*/

table {
	border: 1px solid grey;
	border-collapse: collapse;
	width: 60%;
}
thead {
	border: 1px solid grey;
	height: 60px;
	background-color: #333;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
tbody {
	border: 1px solid grey;
	height: 40px;
	font-size: 18px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.titulo_info {
	font-size: 25px;
	text-decoration: none;
}